In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("community-policing-data.csv", low_memory=False)
df = df.drop(labels=['STOP_DATE', 'LOCATION', 'SPECIFIC VIOLATION', 'VIOLATION TYPE', 'AGENCY NAME', 
                     'ETHNICITY', 'RESIDENCY', 'VIRGINIA CRIME CODE', 'ADDITIONAL ARREST'], axis=1)

In [3]:
for column in df.columns:
    unique_values = df[column].unique()
    if len(unique_values) < 300:
        print("Column Name: {}, Values: {}".format(column, unique_values))
    else:
        print("Column Name; {}, # of unique: {}".format(column, len(unique_values)))

Column Name: JURISDICTION, Values: ['ROCKINGHAM CO' 'ISLE OF WIGHT CO' 'GOOCHLAND CO' 'SOUTHAMPTON CO'
 'NELSON CO' 'SHENANDOAH CO' 'NORTHAMPTON CO' 'AUGUSTA CO' 'TAZEWELL CO'
 'MARTINSVILLE' 'PORTSMOUTH' 'FRANKLIN COUNTY' 'CULPEPER CO'
 'PRINCE GEORGE CO' 'CAMPBELL CO' 'FAIRFAX CO' 'LOUDOUN CO' 'ACCOMACK CO'
 'ALBEMARLE CO' 'ALLEGHANY CO' 'ARLINGTON CO' 'BEDFORD CO' 'BOTETOURT CO'
 'BRUNSWICK CO' 'BUCHANAN CO' 'CHESTERFIELD CO' 'CLARKE CO' 'CRAIG CO'
 'DICKENSON CO' 'DINWIDDIE CO' 'FAUQUIER CO' 'FLOYD CO' 'FREDERICK CO'
 'GILES CO' 'GLOUCESTER CO' 'GRAYSON CO' 'GREENSVILLE CO' 'EMPORIA'
 'HALIFAX CO' 'HANOVER CO' 'HENRICO CO' 'HENRY CO' 'JAMES CITY CO'
 'KING GEORGE CO' 'KING WILLIAM CO' 'LANCASTER CO' 'FLUVANNA CO'
 'MECKLENBURG CO' 'BUCKINGHAM CO' 'CHARLOTTE CO' 'HAMPTON' 'AMHERST CO'
 'GREENE CO' 'CUMBERLAND CO' 'NORFOLK' 'LEE CO' 'RUSSELL CO' 'PULASKI CO'
 'BRISTOL' 'WISE CO' 'CARROLL CO' 'WASHINGTON CO' 'SCOTT CO' 'YORK CO'
 'NEWPORT NEWS' 'CHESAPEAKE' 'VIRGINIA BEACH' 'SUSSEX CO' 'PATRICK CO'
 'BATH CO' 'MONTGOMERY CO' 'PITTSYLVANIA CO' 'ROCKBRIDGE CO' 'COVINGTON'
 'SALEM' 'ROANOKE CITY' 'ROANOKE CO' 'PRINCE WILLIAM CO' 'ALEXANDRIA'
 'PETERSBURG' 'RADFORD' 'RICHMOND CITY' 'STAUNTON' 'SUFFOLK' 'WINCHESTER'
 'RICHMOND CO' 'ESSEX CO' 'STAFFORD CO' 'PAGE CO' 'WARREN CO'
 'FREDERICKSBURG' 'SPOTSYLVANIA CO' 'HARRISONBURG' 'CAROLINE CO'
 'MADISON CO' 'APPOMATTOX CO' 'PRINCE EDWARD CO' 'LUNENBURG CO' 'SMYTH CO'
 'WESTMORELAND CO' 'POQUOSON' 'BUENA VISTA' 'CHARLOTTESVILLE'
 'COLONIAL HEIGHTS' 'NEW KENT CO' 'POWHATAN CO' 'ORANGE CO' 'SURRY CO'
 'DANVILLE' 'FAIRFAX CITY' 'FALLS CHURCH' 'FRANKLIN CITY' 'GALAX'
 'HOPEWELL' 'LYNCHBURG' 'LOUISA CO' 'MIDDLESEX CO' 'MANASSAS'
 'MANASSAS PARK' 'LEXINGTON' 'HIGHLAND CO' 'WILLIAMSBURG' 'MATHEWS CO'
 'NORTHUMBERLAND CO' 'AMELIA CO' 'NORTON' 'BLAND CO' nan 'WYTHE CO'
 'WAYNESBORO' 'RAPPAHANNOCK CO' 'NOTTOWAY CO' 'KING AND QUEEN CO'
 'CHARLES CITY CO' 'UNKNOWN' '29' '33' '30' '34' '37' '38' '39' '31' '32'
 '35' '71' '36' '53' '100' '76' '124' '125' '117' '112' '82' '120' '43'
 '80' '77' '79' '54' '2' '81' '58' '44' '9' '50' '95' '12' '119' '65' '97'
 '88' '98' '84' '126' '47' '89' '123' '57' '96' '83' '15' '48' '22' '129'
 '69' '8' '20' '87' '99' '86' '42' '66' '17' '25' '7' '3' '121' '93' '59'
 '74' '51' '13' '114' '113' '19' '18' '72' '67' '92' '137' '1' '24' '73'
 '41' '14' '85' '6' '11' '116' '63' '68' '110' '131' '111' '109' '118'
 '108' '133' '105' '46' '49' '91' '21' '28' '70' '90' '60' '143' '5' '4'
 '10' '127' '16' '26' '62' '52' '78' '130' '132' '115' '138' '107' '56'
 '136' '23' '55' '128' '0' '103' '106' '101' '102' '139' '45' '40' '135'
 '053' '002' '000' '058' '035' '023' '076']
Column Name: REASON FOR STOP, Values: ['TRAFFIC VIOLATION' 'EQUIPMENT VIOLATION' nan 'CALLS FOR SERVICE'
 'OTHER INVESTIGATIVE DETENTION' 'TERRY STOP' 'CHECK POINT' 'ACCIDENT'
 'WARRANT SERVICE']
Column Name: PERSON TYPE, Values: [nan 'DRIVER' 'PASSENGER' 'OTHER INDIVIDUAL']
Column Name: RACE, Values: ['WHITE' 'BLACK OR AFRICAN AMERICAN' 'UNKNOWN'
 'ASIAN OR NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER'
 'AMERICAN INDIAN OR ALASKA NATIVE' nan]
Column Name: AGE, Values: [18. 26. 82. 61. 37. 20. 23. 50. 27. 58. 25.  0. 46. 44. 22. 55. 24. 34.
 28. 67. 30. 40. 39. 17. 33. 19. 52. 36. 54. 45. 51. 62. 69. 70. 59. 60.
 41. 31. 48. 32. 53. 42. 57. 38. 43. 71. 21. 73. 16. 77. 68. 47. 35. 56.
 29. 14. 66. 72. 63. 65. 49. 74. 80. 81. 64. 75. 85. 76. 79. 87. 15. 78.
 83. 92. 88. 86. 95. 94.  1. 93. 91. 84. 98. 90. nan 13. 96. 89. 99.  9.
 11. 12.  3.  2. 97. 10.  5.  7.  8.  6.  4.]
Column Name: GENDER, Values: ['MALE' nan 'FEMALE' 'OTHER' 'UNKNOWN']
Column Name: ENGLISH SPEAKING, Values: [nan 'YES' 'NO' '44108.47767']
Column Name: ACTION TAKEN, Values: ['WARNING ISSUED' 'CITATION/SUMMONS' 'ARREST' 'NO ENFORCEMENT ACTION' nan]
Column Name: PERSON SEARCHED, Values: ['NO' nan 'YES']
Column Name: VEHICLE SEARCHED, Values: ['NO' nan 'YES']
Column Name: FORCE USED BY OFFICER, Values: [nan 'NO' 'Driver' 'YES']
Column Name: FORCE USED BY SUBJECT, Values: [nan 'NO' 'YES']

In [4]:
print(df.isna().sum())

JURISDICTION                  8
REASON FOR STOP           22366
PERSON TYPE              958398
RACE                         15
AGE                          56
GENDER                     2906
ENGLISH SPEAKING         966913
ACTION TAKEN               4214
PERSON SEARCHED           24128
VEHICLE SEARCHED          28504
FORCE USED BY OFFICER    966413
FORCE USED BY SUBJECT    966431
dtype: int64

In [5]:
print(df.shape[0])
df = df.dropna()
print(df.shape[0])
df = df[~df.isin(['unknown']).any(axis=1)]
df = df[df['AGE'] >= 18]
print(df.columns)

3371015
2399180
Index(['JURISDICTION', 'REASON FOR STOP', 'PERSON TYPE', 'RACE', 'AGE',
       'GENDER', 'ENGLISH SPEAKING', 'ACTION TAKEN', 'PERSON SEARCHED',
       'VEHICLE SEARCHED', 'FORCE USED BY OFFICER', 'FORCE USED BY SUBJECT'],
      dtype='object')

In [6]:
for column in df.columns:
    unique_values = df[column].unique()
    if len(unique_values) < 300:
        print("Column Name: {}, Values: {}".format(column, unique_values))
    else:
        print("Column Name; {}, # of unique: {}".format(column, len(unique_values)))

Column Name: JURISDICTION, Values: ['CULPEPER CO' 'AUGUSTA CO' 'FREDERICK CO' 'FAIRFAX CO' 'FAUQUIER CO'
 'LOUDOUN CO' 'PRINCE WILLIAM CO' 'ALEXANDRIA' 'ESSEX CO' 'HANOVER CO'
 'HENRICO CO' 'GREENSVILLE CO' 'FRANKLIN COUNTY' 'CLARKE CO' 'EMPORIA'
 'FLOYD CO' 'FLUVANNA CO' 'CRAIG CO' 'DINWIDDIE CO' 'CUMBERLAND CO'
 'GILES CO' 'GRAYSON CO' 'HALIFAX CO' 'GLOUCESTER CO' 'ARLINGTON CO'
 'GOOCHLAND CO' 'GREENE CO' 'DICKENSON CO' 'LYNCHBURG' 'YORK CO' 'NORFOLK'
 'STAUNTON' 'VIRGINIA BEACH' 'NORTON' 'BRISTOL' 'CAROLINE CO'
 'NORTHAMPTON CO' 'SUFFOLK' 'SPOTSYLVANIA CO' 'AMELIA CO'
 'PITTSYLVANIA CO' 'PRINCE EDWARD CO' 'ROANOKE CO' 'PULASKI CO'
 'AMHERST CO' 'SURRY CO' 'BATH CO' 'WYTHE CO' 'BEDFORD CO' 'WISE CO'
 'RICHMOND CO' 'SMYTH CO' 'PRINCE GEORGE CO' 'SCOTT CO' 'MONTGOMERY CO'
 'CHESAPEAKE' 'CAMPBELL CO' 'ORANGE CO' 'POWHATAN CO' 'LOUISA CO'
 'ALBEMARLE CO' 'ROCKINGHAM CO' 'BRUNSWICK CO' 'JAMES CITY CO'
 'SOUTHAMPTON CO' 'MECKLENBURG CO' 'PAGE CO' 'SHENANDOAH CO' 'HENRY CO'
 'NEW KENT CO' 'WAYNESBORO' 'CARROLL CO' 'CHARLES CITY CO' 'MADISON CO'
 'NEWPORT NEWS' 'TAZEWELL CO' 'DANVILLE' 'WARREN CO' 'ALLEGHANY CO'
 'POQUOSON' 'RICHMOND CITY' 'WESTMORELAND CO' 'CHESTERFIELD CO'
 'RUSSELL CO' 'STAFFORD CO' 'BUCKINGHAM CO' 'RADFORD' 'WILLIAMSBURG'
 'PORTSMOUTH' 'FREDERICKSBURG' 'GALAX' 'PETERSBURG' 'HAMPTON'
 'ROANOKE CITY' 'BOTETOURT CO' 'KING GEORGE CO' 'KING AND QUEEN CO'
 'APPOMATTOX CO' 'HARRISONBURG' 'NELSON CO' 'SALEM' 'LANCASTER CO'
 'WASHINGTON CO' 'ISLE OF WIGHT CO' 'MIDDLESEX CO' 'NOTTOWAY CO'
 'MATHEWS CO' 'CHARLOTTESVILLE' 'PATRICK CO' 'BUCHANAN CO' 'BLAND CO'
 'SUSSEX CO' 'HIGHLAND CO' 'HOPEWELL' 'NORTHUMBERLAND CO' 'ACCOMACK CO'
 'KING WILLIAM CO' 'ROCKBRIDGE CO' 'FAIRFAX CITY' 'COLONIAL HEIGHTS'
 'LEE CO' '29' '33' '30' '34' '37' '38' '39' 'BUENA VISTA' '31'
 'MARTINSVILLE' 'LEXINGTON' '32' '35' '71' '36' 'FALLS CHURCH' '53' '100'
 '76' '124' '125' '117' '112' '120' '82' '43' '80' '77' '79' '54' '2' '81'
 '58' '44' '9' '95' '12' '119' '65' '88' '98' '84' '126' '47' '89' '123'
 '57' '96' '83' '15' '48' '22' '129' '69' '8' '20' '99' '86' '42' '66'
 '17' '25' '7' '3' '121' '93' '74' '51' '13' '114' '59' '113' '18' '67'
 '72' '92' '137' '50' '1' '24' '73' '41' '14' '85' '11' '19' '116' '63'
 '68' '110' '131' '111' '109' '118' '108' '133' '105' '46' '49' '91' '21'
 '97' '28' '70' '90' '60' '143' '5' '4' '10' '127' '16' '87' '26' '62'
 '52' '78' '130' 'COVINGTON' '132' '115' '138' '107' '56' '136' '23'
 'FRANKLIN CITY' '55' '128' 'CHARLOTTE CO' 'RAPPAHANNOCK CO' 'WINCHESTER'
 '0' '103' 'LUNENBURG CO' '6' 'MANASSAS PARK' 'MANASSAS' '106' '101' '102'
 '139' '45' '40' '135' '053' '002' '000' '058' '035' '023' '076']
Column Name: REASON FOR STOP, Values: ['TRAFFIC VIOLATION' 'CALLS FOR SERVICE' 'EQUIPMENT VIOLATION'
 'TERRY STOP' 'OTHER INVESTIGATIVE DETENTION' 'CHECK POINT' 'ACCIDENT'
 'WARRANT SERVICE']
Column Name: PERSON TYPE, Values: ['DRIVER' 'PASSENGER' 'OTHER INDIVIDUAL']
Column Name: RACE, Values: ['WHITE' 'BLACK OR AFRICAN AMERICAN'
 'ASIAN OR NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER'
 'AMERICAN INDIAN OR ALASKA NATIVE' 'UNKNOWN']
Column Name: AGE, Values: [28. 54. 30. 23. 22. 35. 19. 40. 33. 18. 50. 24. 55. 58. 38. 29. 46. 47.
 44. 42. 81. 20. 27. 63. 31. 21. 25. 62. 34. 80. 66. 39. 41. 61. 43. 36.
 37. 45. 68. 74. 53. 49. 32. 57. 82. 26. 52. 73. 76. 48. 67. 56. 83. 51.
 64. 70. 78. 60. 77. 59. 65. 71. 72. 85. 89. 69. 75. 96. 86. 99. 79. 88.
 87. 84. 90. 93. 95. 94. 91. 92. 98. 97.]
Column Name: GENDER, Values: ['FEMALE' 'MALE' 'OTHER' 'UNKNOWN']
Column Name: ENGLISH SPEAKING, Values: ['YES' 'NO']
Column Name: ACTION TAKEN, Values: ['WARNING ISSUED' 'ARREST' 'NO ENFORCEMENT ACTION' 'CITATION/SUMMONS']
Column Name: PERSON SEARCHED, Values: ['NO' 'YES']
Column Name: VEHICLE SEARCHED, Values: ['NO' 'YES']
Column Name: FORCE USED BY OFFICER, Values: ['NO' 'YES']
Column Name: FORCE USED BY SUBJECT, Values: ['NO' 'YES']

In [7]:
names_to_codes = {
    'ACCOMACK CO': '001', 'ALBEMARLE CO': '002', 'ALEXANDRIA': '100', 'ALLEGHANY CO': '003', 'AMELIA CO': '004',
    'AMHERST CO': '005', 'APPOMATTOX CO': '006', 'ARLINGTON CO': '000', 'AUGUSTA CO': '007', 'BATH CO': '008',
    'BEDFORD CO': '009', 'BLAND CO': '010', 'BOTETOURT CO': '011', 'BRISTOL': '101', 'BRUNSWICK CO': '012',
    'BUCHANAN CO': '013', 'BUCKINGHAM CO': '014', 'BUENA VISTA': '102', 'CAMPBELL CO': '015', 'CAROLINE CO': '016',
    'CARROLL CO': '017', 'CHARLES CITY CO': '018', 'CHARLOTTE CO': '019', 'CHARLOTTESVILLE': '103', 'CHESAPEAKE': '126',
    'CHESTERFIELD CO': '020', 'CLARKE CO': '021', 'COLONIAL HEIGHTS': '105', 'COVINGTON': '106', 'CRAIG CO': '022',
    'CULPEPER CO': '023', 'CUMBERLAND CO': '024', 'DANVILLE': '107', 'DICKENSON CO': '025', 'DINWIDDIE CO': '026',
    'EMPORIA': '135', 'ESSEX CO': '028', 'FAIRFAX CITY': '132', 'FAIRFAX CO': '029', 'FALLS CHURCH': '108',
    'FAUQUIER CO': '030', 'FLOYD CO': '031', 'FLUVANNA CO': '032', 'FRANKLIN CITY': '133', 'FRANKLIN CO': '033',
    'FREDERICK CO': '034', 'FREDERICKSBURG': '109', 'GALAX': '110', 'GILES CO': '035', 'GLOUCESTER CO': '036',
    'GOOCHLAND CO': '037', 'GRAYSON CO': '038', 'GREENE CO': '039', 'GREENSVILLE CO': '040', 'HALIFAX CO': '041',
    'HAMPTON': '111', 'HANOVER CO': '042', 'HARRISONBURG': '112', 'HENRICO CO': '043', 'HENRY CO': '044',
    'HIGHLAND CO': '045', 'HOPEWELL': '113', 'ISLE OF WIGHT CO': '046', 'JAMES CITY CO': '047', 'KING AND QUEEN CO': '049',
    'KING GEORGE CO': '048', 'KING WILLIAM CO': '050', 'LANCASTER CO': '051', 'LEE CO': '052', 'LEXINGTON': '136',
    'LOUDOUN CO': '053', 'LOUISA CO': '054', 'LUNENBURG CO': '055', 'LYNCHBURG': '114', 'MADISON CO': '056',
    'MANASSAS': '138', 'MANASSAS PARK': '139', 'MARTINSVILLE': '115', 'MATHEWS CO': '057', 'MECKLENBURG CO': '058',
    'MIDDLESEX CO': '059', 'MONTGOMERY CO': '060', 'NELSON CO': '062', 'NEW KENT CO': '063', 'NEWPORT NEWS': '116',
    'NORFOLK': '117', 'NORTHAMPTON CO': '065', 'NORTHUMBERLAND CO': '066', 'NORTON': '130', 'NOTTOWAY CO': '067',
    'ORANGE CO': '068', 'PAGE CO': '069', 'PATRICK CO': '070', 'PETERSBURG': '118', 'PITTSYLVANIA CO': '071',
    'POQUOSON': '143', 'PORTSMOUTH': '119', 'POWHATAN CO': '072', 'PRINCE EDWARD CO': '073', 'PRINCE GEORGE CO': '074',
    'PRINCE WILLIAM CO': '076', 'PULASKI CO': '077', 'RADFORD': '131', 'RAPPAHANNOCK CO': '078', 'RICHMOND CITY': '120',
    'RICHMOND CO': '079', 'ROANOKE CITY': '121', 'ROANOKE CO': '080', 'ROCKBRIDGE CO': '081', 'ROCKINGHAM CO': '082',
    'RUSSELL CO': '083', 'SALEM': '137', 'SCOTT CO': '084', 'SHENANDOAH CO': '085', 'SMYTH CO': '086', 'SOUTHAMPTON CO': '087',
    'SPOTSYLVANIA CO': '088', 'STAFFORD CO': '089', 'STAUNTON': '123', 'SUFFOLK': '124', 'SURRY CO': '090',
    'SUSSEX CO': '091', 'TAZEWELL CO': '092', 'VIRGINIA BEACH': '125', 'WARREN CO': '093', 'WASHINGTON CO': '095',
    'WAYNESBORO': '127', 'WESTMORELAND CO': '096', 'WILLIAMSBURG': '128', 'WINCHESTER': '129', 'WISE CO': '097',
    'WYTHE CO': '098', 'YORK CO': '099',
}

names_to_codes_no_zeros = {key: value.lstrip('0') for key, value in names_to_codes.items()}
names_to_codes_no_zeros['ARLINGTON CO'] = '0'
print(names_to_codes_no_zeros['ARLINGTON CO'])

0

In [8]:
codes_to_names = {v: k for k, v in names_to_codes_no_zeros.items()}
for key, value in names_to_codes.items():
    if value not in codes_to_names:
        codes_to_names[value] = key
df['JURISDICTION'] = df['JURISDICTION'].replace(codes_to_names)

for column in df.columns:
    unique_values = df[column].unique()
    if len(unique_values) < 300:
        print("Column Name: {}, Values: {}".format(column, unique_values))
    else:
        print("Column Name; {}, # of unique: {}".format(column, len(unique_values)))

df.to_csv("fixed_csv.csv", index=False)

Column Name: JURISDICTION, Values: ['CULPEPER CO' 'AUGUSTA CO' 'FREDERICK CO' 'FAIRFAX CO' 'FAUQUIER CO'
 'LOUDOUN CO' 'PRINCE WILLIAM CO' 'ALEXANDRIA' 'ESSEX CO' 'HANOVER CO'
 'HENRICO CO' 'GREENSVILLE CO' 'FRANKLIN COUNTY' 'CLARKE CO' 'EMPORIA'
 'FLOYD CO' 'FLUVANNA CO' 'CRAIG CO' 'DINWIDDIE CO' 'CUMBERLAND CO'
 'GILES CO' 'GRAYSON CO' 'HALIFAX CO' 'GLOUCESTER CO' 'ARLINGTON CO'
 'GOOCHLAND CO' 'GREENE CO' 'DICKENSON CO' 'LYNCHBURG' 'YORK CO' 'NORFOLK'
 'STAUNTON' 'VIRGINIA BEACH' 'NORTON' 'BRISTOL' 'CAROLINE CO'
 'NORTHAMPTON CO' 'SUFFOLK' 'SPOTSYLVANIA CO' 'AMELIA CO'
 'PITTSYLVANIA CO' 'PRINCE EDWARD CO' 'ROANOKE CO' 'PULASKI CO'
 'AMHERST CO' 'SURRY CO' 'BATH CO' 'WYTHE CO' 'BEDFORD CO' 'WISE CO'
 'RICHMOND CO' 'SMYTH CO' 'PRINCE GEORGE CO' 'SCOTT CO' 'MONTGOMERY CO'
 'CHESAPEAKE' 'CAMPBELL CO' 'ORANGE CO' 'POWHATAN CO' 'LOUISA CO'
 'ALBEMARLE CO' 'ROCKINGHAM CO' 'BRUNSWICK CO' 'JAMES CITY CO'
 'SOUTHAMPTON CO' 'MECKLENBURG CO' 'PAGE CO' 'SHENANDOAH CO' 'HENRY CO'
 'NEW KENT CO' 'WAYNESBORO' 'CARROLL CO' 'CHARLES CITY CO' 'MADISON CO'
 'NEWPORT NEWS' 'TAZEWELL CO' 'DANVILLE' 'WARREN CO' 'ALLEGHANY CO'
 'POQUOSON' 'RICHMOND CITY' 'WESTMORELAND CO' 'CHESTERFIELD CO'
 'RUSSELL CO' 'STAFFORD CO' 'BUCKINGHAM CO' 'RADFORD' 'WILLIAMSBURG'
 'PORTSMOUTH' 'FREDERICKSBURG' 'GALAX' 'PETERSBURG' 'HAMPTON'
 'ROANOKE CITY' 'BOTETOURT CO' 'KING GEORGE CO' 'KING AND QUEEN CO'
 'APPOMATTOX CO' 'HARRISONBURG' 'NELSON CO' 'SALEM' 'LANCASTER CO'
 'WASHINGTON CO' 'ISLE OF WIGHT CO' 'MIDDLESEX CO' 'NOTTOWAY CO'
 'MATHEWS CO' 'CHARLOTTESVILLE' 'PATRICK CO' 'BUCHANAN CO' 'BLAND CO'
 'SUSSEX CO' 'HIGHLAND CO' 'HOPEWELL' 'NORTHUMBERLAND CO' 'ACCOMACK CO'
 'KING WILLIAM CO' 'ROCKBRIDGE CO' 'FAIRFAX CITY' 'COLONIAL HEIGHTS'
 'LEE CO' 'FRANKLIN CO' 'BUENA VISTA' 'MARTINSVILLE' 'LEXINGTON'
 'FALLS CHURCH' 'WINCHESTER' 'CHARLOTTE CO' 'FRANKLIN CITY'
 'RAPPAHANNOCK CO' 'COVINGTON' 'MANASSAS' 'LUNENBURG CO' 'MANASSAS PARK']
Column Name: REASON FOR STOP, Values: ['TRAFFIC VIOLATION' 'CALLS FOR SERVICE' 'EQUIPMENT VIOLATION'
 'TERRY STOP' 'OTHER INVESTIGATIVE DETENTION' 'CHECK POINT' 'ACCIDENT'
 'WARRANT SERVICE']
Column Name: PERSON TYPE, Values: ['DRIVER' 'PASSENGER' 'OTHER INDIVIDUAL']
Column Name: RACE, Values: ['WHITE' 'BLACK OR AFRICAN AMERICAN'
 'ASIAN OR NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER'
 'AMERICAN INDIAN OR ALASKA NATIVE' 'UNKNOWN']
Column Name: AGE, Values: [28. 54. 30. 23. 22. 35. 19. 40. 33. 18. 50. 24. 55. 58. 38. 29. 46. 47.
 44. 42. 81. 20. 27. 63. 31. 21. 25. 62. 34. 80. 66. 39. 41. 61. 43. 36.
 37. 45. 68. 74. 53. 49. 32. 57. 82. 26. 52. 73. 76. 48. 67. 56. 83. 51.
 64. 70. 78. 60. 77. 59. 65. 71. 72. 85. 89. 69. 75. 96. 86. 99. 79. 88.
 87. 84. 90. 93. 95. 94. 91. 92. 98. 97.]
Column Name: GENDER, Values: ['FEMALE' 'MALE' 'OTHER' 'UNKNOWN']
Column Name: ENGLISH SPEAKING, Values: ['YES' 'NO']
Column Name: ACTION TAKEN, Values: ['WARNING ISSUED' 'ARREST' 'NO ENFORCEMENT ACTION' 'CITATION/SUMMONS']
Column Name: PERSON SEARCHED, Values: ['NO' 'YES']
Column Name: VEHICLE SEARCHED, Values: ['NO' 'YES']
Column Name: FORCE USED BY OFFICER, Values: ['NO' 'YES']
Column Name: FORCE USED BY SUBJECT, Values: ['NO' 'YES']